root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = tab
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

# PHP files
[*.php]
indent_size = tab

# JavaScript files
[*.js]
indent_size = tab

# CSS files
[*.css]
indent_size = 2